.links {
  color: blue;
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  background-color: wheat;
  height: 30px;
  padding-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}

@media (max-width:480px) {
  .links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 13px;
    width: 430px;
  }

}

@media(max-width:480px) {
  .somechanging {
    font-size: 20px;
    margin-left: 30px;
  }
}

@media(max-width:480px) {
  .changing2 {
    margin-left: 20px;
  }
}


@media(max-width:480px) {

  .inputField {
    width: 200px;
    padding: 20px;
  }

  .formchanging {
    width: 90%;
    margin: auto;

  }

  #btn {
    width: 100px;
    margin: auto;
  }
}

nav a {
  text-decoration: none;
  color: black;
}


#logos {
  margin-top: 20px;


}

#align {
  display: flex;
  flex-direction: row;
}

#img {
  width: 350px;
  height: 200px;
  border-radius: 50px;
  border: 3px solid blue;
  object-fit: cover;
  opacity: 0.9;
}

.formchanging {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: wheat;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 10px gray;
}

.input {
  font-size: 15px;
  border: 1px solid purple;
  border-radius: 5px;
}

.label {
  margin-left: 15px;
}

#search {
  width: 350px;
  border-radius: 2px;
  margin-bottom: 5px;
}

#btn {
  cursor: pointer;
}